version: '3.8'

services:
  web:
    build:
      context: ./web
    ports:
      - "5000:5000"
    environment:
      - ENTITIES_COUNT=100
      - MQTT_BROKER=mqtt-broker
    depends_on:
      - mqtt-broker
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/state"]
      interval: 30s
      timeout: 5s
      retries: 3
  
  #Le Broker MQTT (Mosquitto)
  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: mosquitto-broker
    restart: always # Redémarre automatiquement si le conteneur tombe
    ports:
      - "1883:1883" # Port standard pour la communication MQTT
    volumes:
      - ./mosquitto/config:/mosquitto/config
      #- ./mosquitto/data:/mosquitto/data
      #- ./mosquitto/log:/mosquitto/log

  drone1:
    build:
      context: ./drone
    depends_on:
      - mqtt-broker
    environment:
      - DRONE_ID=1
      - MQTT_BROKER=mqtt-broker
      - DRONE_START_LAT=46.9131  # Position de départ (coin sud-ouest)
      - DRONE_START_LNG=-71.2085
      - DRONE_RADIUS=800
    command: ["python", "-u", "drone_subscriber.py"] 
    restart: unless-stopped

  drone2:
    build:
      context: ./drone
    depends_on:
      - mqtt-broker
    environment:
      - DRONE_ID=2
      - MQTT_BROKER=mqtt-broker
      - DRONE_START_LAT=46.9131  # Position de départ (coin sud-est)
      - DRONE_START_LNG=-71.2045
      - DRONE_RADIUS=1000
    command: ["python", "-u", "drone_subscriber.py"] 
    restart: unless-stopped

  drone3:
    build:
      context: ./drone
    depends_on:
      - mqtt-broker
    environment:
      - DRONE_ID=3
      - MQTT_BROKER=mqtt-broker
      - DRONE_START_LAT=46.9171  # Position de départ (coin nord-est)
      - DRONE_START_LNG=-71.2045
      - DRONE_RADIUS=1200
    command: ["python", "-u", "drone_subscriber.py"] 
    restart: unless-stopped

  drone4:
    build:
      context: ./drone
    depends_on:
      - mqtt-broker
    environment:
      - DRONE_ID=4
      - MQTT_BROKER=mqtt-broker
      - DRONE_START_LAT=46.9171  # Position de départ (coin nord-ouest)
      - DRONE_START_LNG=-71.2085
      - DRONE_RADIUS=900
    command: ["python", "-u", "drone_subscriber.py"] 
    restart: unless-stopped

  vache:
    build:
      context: ./vache
    depends_on:
      - mqtt-broker
    environment:
      - MQTT_BROKER=mqtt-broker
      - VACHE_ID_PREFIX=vache
    command: ["python", "-u", "vache_publisher.py"] 
    restart: unless-stopped