apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  ports:
    - port: 80 # Port exposé dans le cluster aux autres pods
      targetPort: 80 # Le port auquel le flux recu par `port` est envoyé sur les containers du pod
      nodePort: 30080 # Port exposé à tout le monde, dont l'extérieur
  selector:
    app: frontend